<!doctype html>
<html xmlns:ng="http://angularjs.org" ng-app="exampleApp">
<head>
    <meta charset="utf-8">
    <title>BetConstruct login example</title>
    <link rel="stylesheet" href="css/styles.css"/>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-cookies.min.js"></script>
    <script src="../lib/amplify.store.min.js"></script>
    <script src="../dist/bc.js"></script>
</head>
<body>

<script type="text/javascript">
    angular.module('exampleApp', ['vbet5']).controller('regCtrl', ['$scope', 'Zergling', function ($scope, Zergling) {
        'use strict';
        $scope.userInfo = {
            "language": "eng",
            "lang_code": "AU",
            "first_name": "John",
            "last_name": "Doe",
            "birth_date": "1970-01-01",
            "gender": "M",
            "username": "johndoe",
            "password": "Password123",
            "password2": "Password123",
            "email": "john.doe@gmail.com",
            "country_code": "AU",
            "city": "Anytown",
            "address": "123 Main St",
            "phone_code": "01",
            "phone": "123123123123",
            "currency_name": "USD"
        };
        $scope.register = function register () {

            Zergling.get({user_info: $scope.userInfo}, 'register_user').then(
                    function (data) {
                        console.log('registration response:', data);
                        if (data.result === 'OK') {
                            $scope.message = "Registration successful. You can now login.";
                        } else {
                            var errorCodes = {
                                "-1013": "Password is too short",
                                "-1012": "Incorrect phone number",
                                "-1134": "Incorrect phone number",
                                "-1135": "Duplicate BankInfo",
                                "-1127": "Duplicate phone number",
                                "1127": "Duplicate phone number",
                                "-1014": "Failed to send sms",
                                "-1118": "User exists",
                                "-1119": "Email exists",
                                "-1010": "Password cannot be the same as login",
                                "-1123": "Duplicate docnument number",
                                "21": "Captcha error"
                            };
                            $scope.message = "Registration error: " + (errorCodes[data.result.toString()] || "Unknown error") + " - " + data.details;
                        }
                    },
                    function (response) {
                        $scope.message = "Registration internal error: " + JSON.stringify(response);
                    }
            );
        };
    }]);

</script>

    <div ng-controller="regCtrl" ng-init="loginName='test8888'; password='Testik8888'">
        <h1>
            This example shows the basic registration process.
        </h1>
        <form ng-hide="loggedIn">
            <ul>
                 <li>
                    <label for="username">Login</label>
                    <input type="text" ng-model="userInfo.username" id="username" placeholder="login name">
                </li>
                <li>
                    <label for="password">password</label>
                    <input type="password" ng-model="userInfo.password" id="password">
                </li>
                <li>
                    <label for="password2">Repeat password</label>
                    <input type="password" ng-model="userInfo.password2" id="password2">
                </li>
                <li>
                    <label for="first_name">First name</label>
                    <input type="text" ng-model="userInfo.first_name" id="first_name">
                </li>
                <li>
                    <label for="last_name">Last name</label>
                    <input type="text" ng-model="userInfo.last_name" id="last_name">
                </li>
                <li>
                    <label for="birth_date">Birth_date (YYYY-MM-DD)</label>
                    <input type="text" ng-model="userInfo.birth_date" id="birth_date">
                </li>
                <li>
                    <label for="email">Email</label>
                    <input type="text" ng-model="userInfo.email" id="email">
                </li>
                <li>
                    <label for="gender">Gender</label>
                    <select name="gender" id="gender" ng-model="userInfo.gender">
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                    </select>
                </li>
                <li>
                    <label for="city">City</label>
                    <input type="text" ng-model="userInfo.city" id="city">
                </li>
                <li>
                    <label for="address">Address</label>
                    <input type="text" ng-model="userInfo.address" id="address">
                </li>
                <li>
                <label for="phone_code">Phone country code</label>
                <input type="text" ng-model="userInfo.phone_code" id="phone_code">
                </li>
                <li>
                    <label for="phone">Phone number</label>
                    <input type="text" ng-model="userInfo.phone" id="phone">
                </li>
                <li>
                    <label for="currency_name">Currency</label>
                    <select name="currency_name" id="currency_name" ng-model="userInfo.currency_name">
                        <option value="USD">USD</option>
                        <option value="EUR">EUR</option>
                    </select>
                </li>
                <li>
                    <label for="language">Language</label>
                    <select name="language" id="language" ng-model="userInfo.language">
                        <option value="eng">English</option>
                        <option value="ger">German</option>
                        <option value="fre">French</option>
                        <option value="cze">Czech</option>
                        <option value="kor">Korean</option>
                        <option value="rus">Russian</option>
                        <option value="chi">Chinese</option>
                    </select>
                </li>
                <li>
                    <label for="country_code">Country</label>
                    <select name="country_code" id="country_code" ng-model="userInfo.country_code">
                        <option value="AU">Australia</option>
                        <option value="AD">Andorra</option>
                        <option value="AE">UAE</option>
                        <option value="AF">Afghanistan</option>
                        <option value="AG">Antigua and Barbuda</option>
                        <option value="AL">Albania</option>
                        <option value="AM">Armenia</option>
                        <option value="AO">Angola</option>
                        <option value="AR">Argentina</option>
                        <option value="AS">American Samoa</option>
                        <option value="AT">Austria</option>
                        <option value="AW">Aruba</option>
                        <option value="AZ">Azerbaijan</option>
                        <option value="BA">Bosnia and Herzegovina</option>
                        <option value="BB">Barbados</option>
                        <option value="BD">Bangladesh</option>
                        <option value="BE">Belgium</option>
                        <option value="BF">Burkina Faso</option>
                        <option value="BG">Bulgaria</option>
                        <option value="BH">Bahrain</option>
                        <option value="BI">Burundi</option>
                        <option value="BJ">Benin</option>
                        <option value="BM">Bermuda</option>
                        <option value="BN">Brunei</option>
                        <option value="BO">Bolivia</option>
                        <option value="BR">Brazil</option>
                        <option value="BS">Bahamas</option>
                        <option value="BT">Bhutan</option>
                        <option value="BW">Botswana</option>
                        <option value="BY">Belarus</option>
                        <option value="BZ">Belize</option>
                        <option value="CA">Canada</option>
                        <option value="CD">Democratic Republic of the Congo</option>
                        <option value="CF">Central African Republic</option>
                        <option value="CG">Republic of the Congo</option>
                        <option value="CH">Switzerland</option>
                        <option value="CI">Cote d'Ivoire</option>
                        <option value="CK">Cook Islands</option>
                        <option value="CL">Chile</option>
                        <option value="CM">Cameroon</option>
                        <option value="CN">China</option>
                        <option value="CO">Colombia</option>
                        <option value="CR">Costa Rica</option>
                        <option value="CU">Cuba</option>
                        <option value="CV">Cape Verde</option>
                        <option value="CY">Cyprus</option>
                        <option value="CZ">Czech Republic</option>
                        <option value="DE">Germany</option>
                        <option value="DJ">Djibouti</option>
                        <option value="DK">Denmark</option>
                        <option value="DM">Dominica</option>
                        <option value="DO">Dominican Republic</option>
                        <option value="DZ">Algeria</option>
                        <option value="EC">Ecuador</option>
                        <option value="EE">Estonia</option>
                        <option value="EG">Egypt</option>
                        <option value="ER">Eritrea</option>
                        <option value="ES">Spain</option>
                        <option value="ET">Ethiopia</option>
                        <option value="FI">Finland</option>
                        <option value="FJ">Fiji</option>
                        <option value="FM">Federated States of Micronesia</option>
                        <option value="FO">Faroe Islands</option>
                        <option value="GA">Gabon</option>
                        <option value="GD">Grenada</option>
                        <option value="GE">Georgia</option>
                        <option value="GH">Ghana</option>
                        <option value="GM">Gambia</option>
                        <option value="GN">Guinea</option>
                        <option value="GQ">Equatorial Guinea</option>
                        <option value="GR">Greece</option>
                        <option value="GT">Guatemala</option>
                        <option value="GU">Guam</option>
                        <option value="GW">Guinea-Bissau</option>
                        <option value="GY">Guyana</option>
                        <option value="HK">Hong Kong</option>
                        <option value="HN">Honduras</option>
                        <option value="HR">Croatia</option>
                        <option value="HT">Republic of Haiti</option>
                        <option value="HU">Hungary</option>
                        <option value="ID">Indonesia</option>
                        <option value="IE">Ireland</option>
                        <option value="IL">Israel</option>
                        <option value="IN">India</option>
                        <option value="IQ">Iraq</option>
                        <option value="IR">Iran</option>
                        <option value="IS">Iceland</option>
                        <option value="IT">Italy</option>
                        <option value="JM">Jamaica</option>
                        <option value="JO">Jordan</option>
                        <option value="JP">Japan</option>
                        <option value="KE">Kenya</option>
                        <option value="KG">Kyrgyzstan</option>
                        <option value="KH">Cambodia</option>
                        <option value="KI">Kiribati</option>
                        <option value="KM">Comoros</option>
                        <option value="KN">Saint Kitts and Nevis</option>
                        <option value="KP">DPRK</option>
                        <option value="KR">South Korea</option>
                        <option value="KW">Kuwait</option>
                        <option value="KY">Cayman Islands</option>
                        <option value="KZ">Kazakhstan</option>
                        <option value="LA">Laos</option>
                        <option value="LB">Lebanon</option>
                        <option value="LC">Saint Lucia</option>
                        <option value="LI">Liechtenstein</option>
                        <option value="LK">Sri Lanka</option>
                        <option value="LR">Liberia</option>
                        <option value="LS">Lesotho</option>
                        <option value="LT">Lithuania</option>
                        <option value="LU">Luxemburg</option>
                        <option value="LV">Latvia</option>
                        <option value="LY">Libya</option>
                        <option value="MA">Morocco</option>
                        <option value="MC">Monaco</option>
                        <option value="MD">Moldavia</option>
                        <option value="ME">Montenegro</option>
                        <option value="MG">Madagascar</option>
                        <option value="MK">Macedonia</option>
                        <option value="ML">Mali</option>
                        <option value="MM">Myanmar</option>
                        <option value="MN">Mongolia</option>
                        <option value="MR">Mauritania</option>
                        <option value="MT">Malta</option>
                        <option value="MU">Mauritius</option>
                        <option value="MV">Maldives</option>
                        <option value="MW">Malawi</option>
                        <option value="MX">Mexico</option>
                        <option value="MY">Malaysia</option>
                        <option value="MZ">Mozambique</option>
                        <option value="NA">Namibia</option>
                        <option value="NE">Niger</option>
                        <option value="NG">Nigeria</option>
                        <option value="NI">Nicaragua</option>
                        <option value="NL">Netherlands</option>
                        <option value="NO">Norway</option>
                        <option value="NP">Nepal</option>
                        <option value="NR">Nauru</option>
                        <option value="NZ">New Zealand</option>
                        <option value="OM">Oman</option>
                        <option value="PA">Panama</option>
                        <option value="PE">Peru</option>
                        <option value="PG">Papua New Guinea</option>
                        <option value="PH">Philippines</option>
                        <option value="PK">Pakistan</option>
                        <option value="PL">Poland</option>
                        <option value="PR">Puerto Rico</option>
                        <option value="PS">Palestine</option>
                        <option value="PT">Portugal</option>
                        <option value="PW">Palau</option>
                        <option value="PY">Paraguay</option>
                        <option value="QA">Qatar</option>
                        <option value="RO">Romania</option>
                        <option value="RS">Serbia</option>
                        <option value="RU">Russia</option>
                        <option value="RW">Rwanda</option>
                        <option value="SA">Saudi Arabia</option>
                        <option value="SB">Solomon Islands</option>
                        <option value="SC">Seychelles</option>
                        <option value="SD">Sudan</option>
                        <option value="SE">Sweden</option>
                        <option value="SG">Singapore</option>
                        <option value="SI">Slovenia</option>
                        <option value="SK">Slovakia</option>
                        <option value="SL">Sierra Leone</option>
                        <option value="SM">San Marino</option>
                        <option value="SN">Senegal</option>
                        <option value="SO">Somalia</option>
                        <option value="SR">Republic of Suriname</option>
                        <option value="ST">Sao Tome and Principe</option>
                        <option value="SV">Salvador</option>
                        <option value="SY">Syria</option>
                        <option value="SZ">Swaziland</option>
                        <option value="TD">Chad</option>
                        <option value="TG">Togo</option>
                        <option value="TH">Thailand</option>
                        <option value="TJ">Tadjikistan</option>
                        <option value="TL">Timor-Leste</option>
                        <option value="TM">Turkmenistan</option>
                        <option value="TN">Tunisia</option>
                        <option value="TO">Tonga</option>
                        <option value="TR">Turkey</option>
                        <option value="TT">Trinidad and Tobago</option>
                        <option value="TV">Tuvalu</option>
                        <option value="TW">Taiwan</option>
                        <option value="TZ">Tanzania</option>
                        <option value="UA">Ukraine</option>
                        <option value="UG">Uganda</option>
                        <option value="GB" ng-if="conf.registration.showOptionGB">United Kingdom</option>
                        <option value="UY">Uruguay</option>
                        <option value="UZ">Uzbekistan</option>
                        <option value="VC">Saint Vincent and the Grenadines</option>
                        <option value="VE">Venezuela</option>
                        <option value="VG">British Virgin Islands</option>
                        <option value="VI">United States Virgin Islands</option>
                        <option value="VN">Vietnam</option>
                        <option value="VU">Vanuatu</option>
                        <option value="WS">Samoa</option>
                        <option value="YE">Yemen</option>
                        <option value="ZA">Republic of South Africa</option>
                        <option value="ZM">Zambia</option>
                        <option value="ZW">Zimbabwe</option>
                    </select>
                    </li>
                <li>
                    <button ng-click="register()">Register!</button>
                </li>
            </ul>
        </form>
        <p ng-bind="message"></p>
    </div>
</body>
</html>
